:root{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Roboto';
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #444444;
    background-color: #F5F5F5;
}

#container{
    width: 930px;
    margin: 0 auto;

}

@media (max-width:930px){
    html, body{
        font-size: 18px;
        width: 100vw;
        overflow-x: hidden;
    }

    #container{
        width: 550px;
    }
}

@media (max-width:600px){
    body{
        font-size: 16px;
    }

    #container{
        width: 260px;
    }
}

/* HEADER
====================================== */
header{
    position: relative;
    height: 100px;
    display: flex;
    padding-top: 42px;
}

#logo img{
    width: 30px;
}

nav{
    position: absolute;
    right: 0;
}

nav ul li{
    display: inline-block;
    padding-left: 40px;
    font-size: 14px;
    /* font-weight: 300; */
    letter-spacing: 2.5px;
    font-family: 'Poppins';
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: #444444;
}

nav a:hover{
    color: #6F50FF;
    border-bottom: 1.5px #6F50FF solid;
}

.menu--toggle{
    position: absolute;
    right: 0.1em;
    z-index: 300;
    
    border: 0;
    background-color: transparent;

    font-size: 40px;
    width: 20px;
    height: 30px;
    line-height: 0.4em;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    display: none;
    outline: none;
}

.menu--toggle::after{
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    content: "\2261";
    text-indent: 0;
}

@media (max-width:930px){
    header{
        padding-top: 30px;
    }

    #logo img{
        width: 33px;
    }

    .menu--toggle{
        display: block;
    }

    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        padding: 150px 0 0 30px;
        background-color: #ececec;
    }

    nav ul li{
        display: block;
        margin-bottom: 40px;
    }

    nav.is-open ul{
        display: block;
    }
}

@media (max-width:600px){
    nav ul{
        width: 70%;
        padding: 100px 0 0 10px;
    }
    nav ul li{
        margin-bottom: 30px;
    }
}


/* HERO
====================================== */
#hero{
    display: flex;
    width: 100%;
}

#profil-pict{
    width: 600px;
    margin-top: 30px;
}

#hero-text{
    padding-top: 100px;
}

#title{
    width: 530px;
    font-family: 'Poppins';
    font-size: 46px;
    line-height: 1.2;
}

#title span{
    color: #A1A1A1;
}

#btn-primary a{
    font-family: 'Poppins';
    margin-top: 60px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #6F50FF;
    border: 2px #6F50FF solid;
    border-radius: 7px;
    padding: 15px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#btn-primary a:hover{
    transition: 0.2s;
    background-color: #6F50FF;
    color: #FFFFFF;
    box-shadow: 0px 10px 15px 0px rgba(111,80,255,0.4);
    
}

#content{
    width: 930px;
    margin: 0 auto;
}

@media (max-width:930px){
    #hero{
        display: unset;
    }
    
    #hero-text{
        padding-top: 40px;
    }

    #btn-primary a{
        margin-top: 40px;
    }

    #profil-pict{
        padding-top: 0;
    }
}

@media (max-width:600px){
    #hero-text{
        padding-top: 10px;
    }

    #title{
        width: 100%;
        font-size: 32px;
    }

    #btn-primary a{
        font-size: 15px;
        padding: 12px 28px;
    }

    #profil-pict{
        width: 180%;
        margin: -25px 0 0 -65px;
        position: relative;
        z-index: -1;
    }
}

/* ABOUT
====================================== */
#about{
    top: 200px;
    display: flex;
    position: relative;
    height: 500px;
}

h2{
    font-family: 'Poppins';
    font-size: 33px;
    margin-bottom: 45px;
}

#about-text{
    margin-top: 10px;
    width: 400px;
    position: absolute;
    right: 0;
}

#about-text p{
    /* font-weight: 300; */
    line-height: 25px;
    margin-bottom: 20px;
}

#bullet{
    display: flex;
}

#bullet ul{
    width: 180px;
}

#bullet ul li{
    list-style-position: inside;
    margin-bottom: 5px;
    color: #6F50FF;
}

@media (max-width:930px){
    #about{
        top: 100px;
        display: unset;
    }

    #about-text{
        position: relative;
        width: 100%;
    }
}

@media (max-width:600px){
    #bullet{
        font-size: 13px;
    }
}


/* PROJECTS
====================================== */
#projects{
    width: 100%;
    margin-top: 50px;
    padding-top: 150px;
}

#projects a{
    color: inherit;
    text-decoration: none;
}

#project-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-card{
    height: 410px;
    width: 32%;
    background-color: #FFFFFF;
    border-radius: 7px;
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.06);
    margin-bottom: 40px;
    overflow: hidden;
}

.project-img{
    width: 100%;
    padding-top: 100%;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    position: relative;
}

.project-card img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.2s;
}

.project-card img:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

.project-text{
    padding: 25px 30px;
}

.project-card h3{
    font-size: 16px;
}

.project-card h3:hover{
    color: #6F50FF;
}

.project-card .subtitle{
    font-size: 13px;
    margin-top: 5px;
}

.project-desc{
    font-size: 15px;
    line-height: 22px;
}

.project-github{
    margin-top: 20px;
    font-size: 13px;
    color: #6F50FF;
}

@media (max-width:930px){
    #projects{
        margin-top: 70px;
    }

    #project-cards{
        display: unset;
    }

    .project-card{
        height: 700px;
    }

    .project-card h3{
        font-size: 22px;
    }

    .project-card .subtitle{
        font-size: 16px;
    }

    .project-github{
        font-size: 14px;
        margin-top: 35px;
    }
}

@media (max-width:600px){
    .project-card{
        height: 380px;
    }

    .project-text{
        padding: 25px 20px;
    }

    .project-card h3{
        font-size: 16px;
    }

    .project-card .subtitle{
        font-size: 13px;
    }

    .project-github{
        font-size: 13px;
        margin-top: 15px;
    }
}


/* CONTACT
====================================== */
#contact{
    margin-top: 50px;
    padding-top: 150px;
    margin-bottom: 100px;
}

#contact p{
    margin-bottom: 10px;
}

#contact a{
    color: inherit;
    text-decoration: none;
}

#contact a:hover{
    color: #6F50FF;
}

@media (max-width:930px){
    #contact h2{
        margin-bottom: 25px;
    }
}

@media (max-width:600px){
    #contact{
        padding-top: 100px;
    }
}